[submodule "src/fmj"]
	path = src/fmj
	url = https://github.com/godratio/FullMetalJacket.git
[submodule "external/physx"]
	path = external/physx
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
